.nav-menu{
	display: flex;
	flex-direction: column;
}

.nav-menu[showing = false]{
	display: none;
}

header{
	display: flex;
	justify-content: space-between;
}

.nav-menu{
	position: absolute;
	top: 15px;
}