:root{
	--color-1: #BED661;
	--color-2: #89E894;
	--color-3: #78D5E3;
	--color-4: #7AF5F5;
	--color-5: #34DDDD;
	--color-6: #93E2D5;
}

/*https://www.colorcombos.com/color-schemes/172/ColorCombo172.html*/

body{
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

button{
	border: none;
}

button:focus{
	outline: none;
}

header{
	height: 8vh;
	display: flex;
	padding: 0vw 6vw;
	justify-content: space-between;
	align-items: center;
}

.nav-button, .contacts-button{
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff;
	height: 6vw;
	width: 6vw;
}

.nav-button{
	background-image: url('../images/menu-icon.png');
}

.contacts-button{
	background-image: url('../images/contacts-icon.png');
}

.window-title{
	border: none;
	background-color: #fff;
	text-align: center;
	font-size: 6vw;
	width: 70vw;
}

.nav-menu{
	position: absolute;
	top: 10vw;
	left: 3vw;
	font-size: 4.2vw;
	display: flex;
	flex-direction: column;
	background-color: #ffffffdf;
	border-radius: 3%;
	padding: 7px;
	z-index: 1;
}

.nav-menu[showing = false]{
	display: none;
}

.nav-link{
	margin: 1vw;
}

main{
	padding: 3vw;
	position: relative;
}

.add-button{
	position: absolute;
	background-color: #fff0;
	right: 5vw;
	bottom: 5vw;
	font-size: 13vw;
	border-radius: 50%;
	justify-content: center;
	text-align: center;
}

.description{
	border: solid 1px #eee;
	overflow-wrap: break-word;
	height: auto;
	height: 10vh;
}

.todo-list{
	padding: 5vw;
}

.todo-checkbox {
    content: '';
    background: #e5e5e5;
    color: #e5e5e5;
    padding: 0 1.5vw 0 0.5vw;
    width: 1.5vw;
    margin: 0 2vw;
    border-radius: 15%;
}

.todo-listing{
	display: flex;
	margin: 3vw 0;
}

.todo-listing[done=true]{
	opacity: 0.5;
}

.todo-listing[done=true] > .todo-checkbox{
	color: black;
}

main[displaying=project], 
	[displaying=todo], 
	[displaying=contact], 
	[displaying=category]{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-size: 3.5vw;
	padding: 0 10vw;
}

main[displaying=collection]{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.collection-item-display{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 2vw;
	background-color: var(--color-1);
	height: 20vh;
	width: 25vw;
	padding: 1vw;
	border-radius: 10%;
}

.collection-item-header{
	display: flex;
	justify-content: space-between;
	padding: 1vw;
	height: 4vw;
	font-size: 3.5vw;
}


.collection-item-favorite{
	height: 3.5vw;
	width: 3.5vw;
	border-radius: 50%;
}
.collection-item-favorite[is-favorite = true]{
	background-color: gold;
}

.tag-container {
    min-height: 10vh;
    background-color: var(--color-6);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 3.5vw 5vw;
    font-size: 3vw;
}

.tag, .tag:visited{
	background-color: #e5e5e5;
    padding: 1.5vw 2vw;
    position: relative;
    z-index: 0;
    border-radius: 3vw;
    margin: 1.5vw 1.5vw;
}

.popup-window-container{
	background-color: #fffa;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.add-tag-window{
	height: 50vh;
	width: 50vw;
	position: absolute;
	top: 25vh;
	left: 25vw;
	background-color: var(--color-4);
	display: grid;
	grid-template-areas: 
	'tag-selection tag-selection'
	'back-button   select-button';
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr 1fr;
}

.add-tag-nav-button{
	font-size: 3vw;
	height: auto;
	width: auto;
}

.close-button{
	position: absolute;
	top: 2vw;
	right: 2vw;
	font-size: 4vw;
	font-weight: bold;
	background-color: #fff0;
	color: #fff;
}

.back-button[showing=false], .select-button[showing=false]{
	display: none;
}

.back-button{
	grid-area: back-button;
}

.select-button{
	grid-area: select-button;
}

.type-select-container{
	grid-area: tag-selection;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tag-selection-list{
	background: #fff;
	height: 35vh;
	width: 35vw;
	margin: 5vw 5vh;
	padding: 3vw;
	font-size: 3vw;
}

.tag-object-listing{
	padding: 1vw;
}

.tag-object-listing[selected=true]{
	background-color: #eee;
}

.tag-type-select-button{
	font-size: 4vw;
	margin: 3vw;
	padding: 2vh 2vw;
}